.Activity-Page-Fixed-Bg {
  position: fixed;
  //background-color: rgb(255, 255, 255);
  height: 120px;
  width: 530px;
  margin-top: 46px;
  //border-color: rgb(255, 255, 255);
}

.Activity-Page-Filter-Items-Div {
  position: fixed;
  width: 100%;
  margin-bottom: 10px;
  background-color: #ffffff;
  //margin-top: 10px;
  //padding: 10px;
}

.Activity-Page-Card-Nav-Activity {
  color: black;
  font-size: 22px;
  font-weight: bold;
  //padding: 3px 10px;
  height: 30px;
  align-items: center;
  margin: 2px;
}

.Activity-Page-Card-Title-Img {
  width: 30px;
  margin: 5px;
}

.Activity-Page-Filter-Items {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 545px;
  color: #2c90af;
  border-style: solid;
  border-color: #2c90af;
  border-width: 1px;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.Activity-Page-Filter-Years {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  width: 150px;
  color: #2c90af;
  background-color: #ffffff;
  border-color: #ffffff;
}

.Activity-Page-Filter-Departments {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  width: 150px;
  color: #2c90af;
  background-color: #ffffff;
  border-color: #ffffff;
}

.Activity-Page-Filter-Statuses {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  width: 150px;
  color: #2c90af;
  background-color: #ffffff;
  border-color: #ffffff;
}

.Activity-Page-Filter-Items-Search {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 545px;
  color: #2c90af;
  margin-top: 5px;
  border-style: solid;
  border-color: #2c90af;
  border-width: 1px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  ::placeholder {
    color: #2c90af;
    font-size: 15px;
    font-family: "Prompt", sans-serif;
    //padding-left: 20px;
  }
  input[type="text"] {
    color: #2c90af;
    font-size: 15px;
    font-family: "Prompt", sans-serif;
    padding-left: 5px;
  }
}

.Activity-Page-Filter-Items-Search-Cal {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 545px;
 
  margin-top: 5px;
  
  margin-left: auto;
  margin-right: auto;
  
}

.Activity-Page-Calendar {
  //object-fit: contain;
  //object-fit: scale-down;
  width: 1000px;
  //padding-top: 150px;
  margin-left: auto;
  margin-right: auto;
  //z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  //position: fixed;
  // @media screen and (max-width: 1000px) {
  //   width: 100vw;
  // }
  // @media screen and (max-width: 414px) {
  //   width: 100vw;
  // }
  // @media screen and (max-width: 300px) {
  //   width: 100vw;
  // }
}

.Activity-Page-Filter-Search-Bar {
  width: 90%;
  height: 80%;
  max-width: 545px;
  color: #2c90af;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.Activity-Page-Card-Search-Img {
  width: 20px;
  margin: 5px;
  filter: invert(48%) sepia(92%) saturate(372%) hue-rotate(148deg)
    brightness(85%) contrast(87%);
}

.Activity-Page-Banner-Slider {
  width: 500px;
  position: fixed;
}

.thumb {
  visibility: hidden;
}

.Activity-Page-Card-Div {
  overflow: hidden;
  //margin-left: 35%;
  //max-width: 550px;
  //padding: 10px;
  //margin-top: 200px;
  //position: fixed;
  background-color: rgb(255, 255, 255);
  // border-style: solid;
  // border-color: rgb(0, 0, 0);
  // border-width: 1px;
}

.Activity-Page-Card-Slider {
  overflow: hidden;
}

.Activity-Page-Card-Nav {
  height: 40px;
  display: flex;
  //justify-content: space-around;
  align-items: center;
  max-width: 545px;
  color: #2c90af;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  //background: #d6d5d5;
}

.Activity-Page-Card-Nav-Popular {
  font-size: 25px;
  font-weight: bold;
  padding: 3px 10px;
  height: 30px;
  align-items: center;
  margin-top: 2px;
}

.Activity-Page-Card-List {
  margin-top: 250px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  padding: 10px;
  @media screen and (max-width: 1079px) {
    grid-template-columns: auto auto auto;
    margin-bottom: 180px;
  }
  @media screen and (max-width: 744px) {
    grid-template-columns: auto auto;
    margin-bottom: 180px;
  }
  @media screen and (max-width: 414px) {
    grid-template-columns: auto auto;
    margin-bottom: 180px;
  }
}

.Activity-Page-Card {
  max-width: 200px;
  margin-top: 10px;
  // border-style: solid;
  // border-width: 1px;
  // border-color: #111111;
}

.Activity-Page-Card-Media {
  height: 10px;
}

.Activity-Page-Card-Top-Div {
  display: flex;
  flex-direction: row;

  margin-left: 65%;
  align-items: center;
}

.Activity-Page-Card-Box {
  width: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Activity-Page-Card-Join {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  //background-color: rgb(27, 230, 61);
}

.Activity-Page-Card-Join-Text {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  margin-left: 5px;
}

.Activity-Page-Card-Favorite {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  justify-items: center;
  //background-color: rgb(216, 19, 58);
  margin-left: 10px;
}

.Activity-Page-Card-Favorite-Text {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  margin-left: 5px;
}

.Activity-Page-Card-Flex {
  display: flex;
  flex-direction: column;
}

.Activity-Page-Card-Left {
  display: flex;
  flex-direction: column;
  max-width: 120px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.Activity-Page-Card-Img {
  cursor: pointer;
  width: 100px;
  height: 150px;
  border-radius: 5px;
  @media screen and (max-width: 500px) {
    width: 80px;
  height: 120px;
  }
}

.Activity-Page-Card-Status {
  width: 259px;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
}

.Activity-Page-Card-Right {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.Activity-Page-Card-Icon-Size {
  height: 20px;
  width: 20px;
  // filter: invert(51%) sepia(2%) saturate(221%) hue-rotate(81deg) brightness(99%) contrast(95%);
}

.Activity-Page-Card-Name {
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.Activity-Page-Card-Date-Time {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Activity-Page-Card-Date {
  width: 259px;
  font-family: "Prompt", sans-serif;
  font-size: 14px;
  color: #ed0000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  @media screen and (max-width: 500px) {
    font-size: 12px;
  }
}

.Activity-Page-Card-Time {
  width: 259px;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
}

.Activity-Page-Card-Location {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  color: #808080;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  
  @media screen and (max-width: 500px) {
    font-size: 12px;
  }
}

.Activity-Page-Card-Members-Close {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Activity-Page-Card-Members {
  width: 259px;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
}

.Activity-Page-Card-Close {
  width: 259px;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
}

.Activity-Page-Card-More-Div {
  margin-left: 5%;
}

.Activity-Page-Card-More {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  border-width: 0px;
  background-color: $dark-orange;
}
