.Activity-Page-Fixed-Bg {
  position: fixed;
  background-color: rgb(255, 255, 255);
  height: 120px;
  width: 100%;
  margin-top: 56px;
  border-color: rgb(255, 255, 255);
}

.Activity-Info-Page-Card-Div {
  overflow: hidden;
  // margin-left: auto;
  // margin-right: auto;
  // max-width: 1500px;
  padding: 10px;
  //margin-top: 80px;
  //position: fixed;
  background-color: rgb(255, 255, 255);
  // border-style: solid;
  // border-color: rgb(0, 0, 0);
  // border-width: 1px;
  label {
    margin-bottom: 0;
  }
  @media screen and (min-width: 600px) {
    label {
      margin-bottom: 5px;
    }
  }
}

.Activity-Info-Page-Card-Slider {
  overflow: hidden;
}

.Activity-Info-Page-Card-Nav {
  position: fixed;
  margin-top: 20px;
  height: 30px;
  width: 530px;
  border-radius: 10px;
  color: $dark-orange;

  //background: #d6d5d5;
}

.Activity-Info-Page-Card-Nav-Popular {
  font-size: 25px;
  font-weight: bold;
  padding: 3px 10px;
  height: 30px;
  align-items: center;
  margin-top: 2px;
}

.Activity-Info-Page-Card-List {
  padding-top: 80px;
  //width: 100%;
  // background-color: #fff;
  // -webkit-animation: random 5s infinite;
  // animation: random 5s infinite;
}
// @keyframes random {
//   15% {
//     background-color: rgb(247, 203, 203);
//   }
//   30% {
//     background-color: yellow;
//   }
//   45% {
//     background-color: green;
//   }
//   60% {
//     background-color: blue;
//   }
//   75% {
//     background-color: white;
//   }
// }

.Activity-Info-Page-Card {
  max-width: 50vw;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  // padding-left: 30px;
  // border-style: none none none solid;
  // border-width: 1px;
  // border-color: #111111;

  @media screen and (max-width: 970px) {
    max-width: 80vw;
  }
}

.Activity-Info-Page-Card-Media {
  height: 10px;
}

.Activity-Info-Page-Card-Top-Div {
  display: flex;
  flex-direction: row;
  //background-color: rgb(17, 17, 17);
  justify-content: flex-end;
  align-items: center;
}

.Activity-Info-Page-Card-Box {
  //width: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Activity-Info-Page-Card-Join {
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  //background-color: rgb(27, 230, 61);
}

// .Activity-Info-Page-Card-Join-Text {
//   font-family: "Prompt", sans-serif;
//   font-size: 15px;
//   margin-left: 5px;
// }

.Activity-Info-Page-Card-Favorite {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  justify-items: center;
  //background-color: rgb(216, 19, 58);
  margin-left: 10px;
}

.Activity-Info-Page-Card-Favorite-Text {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  margin-left: 5px;
  @media screen and (max-width: 350px) {
    font-size: 12px;
  }
}

// .Activity-Info-Page-Card-Area {
//   background-color: rgb(17, 17, 17);
//   width: 400px;
// }

.Activity-Info-Page-Card-Flex {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}

.Activity-Info-Page-Card-Left {
  display: flex;
  flex-direction: column;
  //max-width: 120px;
  //padding: 10px;
}

.Flex-Column {
  display: flex;
  flex-direction: column;
}

.Flex-Row {
  display: flex;
  flex-direction: row;
}

.MT150 {
  margin-top: 150px;
}

.Activity-Info-Page-Card-Img {
  cursor: pointer;
  width: 285px;
  height: 380px;
  @media screen and (max-width: 1144px) {
    width: 195px;
    height: 310px;
  }
  @media screen and (max-width: 600px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

.Activity-Info-Page-Card-Big-Img{
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: auto;
  @media screen and (max-width: 1144px) {
    width: 500px;
  }
  @media screen and (max-width: 991px) {
    width: 400px;
  }
  @media screen and (max-width: 500px) {
    width: 250px;
  }
}

.Activity-Info-Page-Card-Status {
  width: 259px;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  @media screen and (max-width: 350px) {
    font-size: 12px;
  }
}

.Activity-Info-Page-Card-Right {
  display: flex;
  flex-direction: column;
  //margin-left: 30px;
  padding-left: 30px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  width: 100%;
  position: relative;
  height: 380px;
  @media screen and (max-width: 1144px) {
    height: 310px;
  }
  @media screen and (max-width: 600px) {
    height: 280px;
  }
}

.Activity-Info-Page-Card-Top {
  // display: flex;
  // flex-direction: column;
  //margin-left: 30px;
  //padding-left: 30px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  width: 100%;
}

.Activity-Info-Page-Card-Bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  //margin-left: 30px;
  //padding-left: 30px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  width: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.Activity-Info-Page-Card-Icon-Size {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.Activity-Info-Page-Card-Name {
  margin-top: 20px;
  font-family: "Prompt", sans-serif;
  font-size: 25px;
  font-weight: bold;
  @media screen and (max-width: 350px) {
    font-size: 18px;
    margin-top: 10px;
  }
}

.Activity-Info-Page-Card-Date-Time {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Activity-Info-Page-Card-Date {
  width: 259px;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  @media screen and (max-width: 350px) {
    font-size: 12px;
  }
}

.Activity-Info-Page-Card-Time {
  margin-left: 5px;
  width: 259px;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  @media screen and (max-width: 350px) {
    font-size: 12px;
  }
}

.Activity-Info-Page-Card-Location {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  @media screen and (max-width: 350px) {
    font-size: 12px;
  }
}

.Activity-Info-Page-Card-Members-Close {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Activity-Info-Page-Card-Members {
  width: 259px;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  @media screen and (max-width: 350px) {
    font-size: 12px;
  }
}

.Activity-Info-Page-Card-Close {
  width: 259px;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  @media screen and (max-width: 350px) {
    font-size: 12px;
  }
}

.Activity-Info-Page-Card-More-Div {
  margin-left: 65%;
}

.Activity-Info-Page-Card-Description {
  margin-top: 50px;
}

.Activity-Info-Page-Card-Description-Name {
  margin-top: 5px;
  padding-left: 30px;
  font-family: "Prompt", sans-serif;
  font-size: 25px;
  font-weight: bold;
  @media screen and (max-width: 350px) {
    font-size: 18px;
  }
  // border-style: none none none solid;
  // border-width: 1px;
  // border-color: #111111;
}

.Activity-Info-Page-Card-Description-More {
  margin-top: 5px;
  padding-left: 30px;
  border-style: none none none solid;
  border-width: 2px;
  border-color: #efefef;
}

.Activity-Info-Page-Card-Report-Title {
  text-align: center;
  color: #000000;
}

.Activity-Info-Page-Card-Report-Name {
  font-family: "Prompt", sans-serif;
  font-size: 20px;
}

.Activity-Info-Page-Card-Report-Body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // div {
  //   margin: 5px;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}

.Activity-Info-Page-Card-Report-Text {
  font-family: "Prompt", sans-serif;
  font-size: 16px;
  margin-top: 2%;
  //margin-left: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 5px;
  width: 100%;
  height: auto;
  @media screen and (max-width: 350px) {
    font-size: 12px;
  }
}

.Activity-Info-Page-Card-Star-Rating-Title {
  text-align: center;
  color: #000000;
}

.Activity-Info-Page-Card-Star-Rating-Name {
  font-family: "Prompt", sans-serif;
  font-size: 20px;
}

.Activity-Info-Page-Card-Star-Rating-Body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // div {
  //   margin: 5px;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}

.Activity-Info-Page-Card-Star-Rating-Text {
  font-family: "Prompt", sans-serif;
  font-size: 16px;
  margin-top: 2%;
  //margin-left: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 5px;
  width: 100%;
  height: auto;
  @media screen and (max-width: 350px) {
    font-size: 12px;
  }
}

.Activity-Info-Page-Card-Star-Rating-Star-Flex {
  display: flex;
  justify-content: space-around;
}

.Activity-Info-Page-Card-Star-Rating-Star-Div {
  margin-left: auto;
  margin-right: auto;
}

.Two-Row {
  display: flex;
  flex-direction: row;
}

.Activity-Info-Page-Card-Flex-Three-Btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
}

.Activity-Info-Page-Card-Button-Edit {
  width: 100px;
  height: auto;
  background: #039bca !important;
  color: white !important;
  border-radius: 25px;
  border: 1px solid #039bca;
  font-size: 20px;
  @media screen and (max-width: 450px) {
    font-size: 15px;
    width: 80px;
  }
  @media screen and (max-width: 350px) {
    font-size: 12px;
    width: 60px;
  }
}

.Activity-Info-Page-Card-Button-Check {
  width: 100px;
  height: auto;
  background: #38c92b !important;
  color: white !important;
  border-radius: 25px;
  border: 1px solid #38c92b;
  font-size: 20px;
  @media screen and (max-width: 450px) {
    font-size: 15px;
    width: 80px;
  }
  @media screen and (max-width: 350px) {
    font-size: 12px;
    width: 60px;
  }
}

.Activity-Info-Page-Card-Button-Mail {
  width: 100px;
  height: auto;
  background: #f38621 !important;
  color: white !important;
  border-radius: 25px;
  border: 1px solid #f38621;
  font-size: 20px;
  @media screen and (max-width: 450px) {
    font-size: 15px;
    width: 80px;
  }
  @media screen and (max-width: 350px) {
    font-size: 12px;
    width: 60px;
  }
}

.Activity-Info-Page-Card-Button-Delete {
  width: 100px;
  height: auto;
  background: none !important;
  color: #e21010 !important;
  border-radius: 25px;
  border: 1px solid #e21010;
  font-size: 20px;
  @media screen and (max-width: 450px) {
    font-size: 15px;
    width: 80px;
  }
  @media screen and (max-width: 350px) {
    font-size: 12px;
    width: 60px;
  }
}

.Activity-Info-Page-Card-Button-Join {
  width: 100px;
  height: auto;
  background: #039bca !important;
  color: #ffffff !important;
  border-radius: 25px;
  border: 1px solid #039bca;
  font-size: 20px;
  cursor: pointer;
  @media screen and (max-width: 450px) {
    font-size: 15px;
    width: 80px;
  }
  @media screen and (max-width: 350px) {
    font-size: 12px;
    width: 60px;
  }
}

.Activity-Info-Page-Card-Button-Unjoin {
  width: 100px;
  height: auto;
  background: #e21010 !important;
  color: #ffffff !important;
  border-radius: 25px;
  border: 1px solid #e21010;
  font-size: 20px;
  cursor: pointer;
  @media screen and (max-width: 450px) {
    font-size: 15px;
    width: 80px;
  }
  @media screen and (max-width: 350px) {
    font-size: 12px;
    width: 60px;
  }
}

.Activity-Info-Page-Card-Button-Like {
  width: 100px;
  height: auto;
  background: none !important;
  color: #ffffff !important;
  border-radius: 25px;
  border: none;
  font-size: 20px;
  @media screen and (max-width: 450px) {
    font-size: 15px;
    width: 80px;
  }
  @media screen and (max-width: 350px) {
    font-size: 12px;
    width: 60px;
  }
}

.Activity-Info-Page-Card-Button-Report {
  width: 100px;
  height: auto;
  background: #ffffff !important;
  color: #039bca !important;
  border-radius: 25px;
  border: 1px solid #039bca;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 5px;
  @media screen and (max-width: 450px) {
    font-size: 15px;
    width: 80px;
  }
  @media screen and (max-width: 350px) {
    font-size: 12px;
    width: 60px;
  }
}

.Activity-Info-Page-Card-Button-Review {
  width: 100px;
  height: auto;
  background: #f38621 !important;
  color: #ffffff !important;
  border-radius: 25px;
  border: 1px solid #f38621;
  font-size: 15px;
  margin-top: 10px;
  @media screen and (max-width: 450px) {
    font-size: 15px;
    width: 80px;
  }
  @media screen and (max-width: 350px) {
    font-size: 12px;
    width: 60px;
  }
}

.Activity-Info-Page-Card-Description-Reviews {
  margin-top: 100px;
  // border-style: solid none none none;
  // border-width: 2px;
  // border-color: #7a7a7a;
}

.Activity-Info-Page-Card-Description-Reviews-Flex-Column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Activity-Info-Page-Card-Description-Reviews-Flex-Row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: 500px) {
    display: flex;
    flex-direction: column;
  }
}

.Activity-Info-Page-Card-Flex-Row {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 150px) {
    display: flex;
    flex-direction: column;
  }
}

.Activity-Info-Page-Card-Description-Reviews-Name {
  margin-top: 5px;
  padding-left: 30px;
  font-family: "Prompt", sans-serif;
  font-size: 23px;
  font-weight: bold;
  background-color: #ffb977;
  .Activity-Info-Page-Card-Icon-Size {
    width: 25px;
    height: 25px;
  }
  @media screen and (max-width: 350px) {
    font-size: 18px;
  }
}

.Activity-Info-Page-Card-Description-Reviews-Number {
  margin-top: 5px;
  margin-bottom: 20px !important;
  padding-left: 30px;
  font-family: "Prompt", sans-serif;
  font-size: 18px;

  color: #7a7a7a;
  //font-weight: bold;
  @media screen and (max-width: 350px) {
    font-size: 13px;
  }
}

.Activity-Info-Page-Card-Description-Reviews-More {
  margin-bottom: 15px;
  padding-left: 30px;
  border-style: none none solid none;
  border-width: 2px;
  border-color: #808080;
  @media screen and (max-width: 350px) {
    font-size: 12px;
  }
}

.alert {
  margin-bottom: 0px !important;
}

.Red {
  color: #e21010;
}

.modal-header .close {
  padding: 0px !important;
  margin: 0px !important;
}
