html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: "Prompt", sans-serif;
  min-width: fit-content;
}

a {
  color: inherit;
  text-decoration: none;
  color: black !important;
}

a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.5) !important;
}

ul {
  font-family: "Prompt", sans-serif !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

div {
  font-family: "Prompt", sans-serif;
}

* {
  box-sizing: border-box;
}
// Color
$dark-orange: #f77f00;


//fonts
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//styles
@import "./Navbar.scss";
@import "./Login.scss";
@import "./Register.scss";
@import "./MainPageCard.scss";
@import "./ProfileToggle.scss";
@import "./MainToggle.scss";
@import "./ProfileCard.scss";
@import "./ActivityFilter.scss";
@import "./PostActivity.scss";
@import "./ActivityInfo.scss";
@import "./MyPostCard.scss";
@import "./FavoriteCard.scss";
@import "./HistoryCard.scss";
@import "./NewLogin.scss";
@import "./ReportViewCard";
@import "./ReportInfo";
@import "./MainPageFooter";
@import "./AttendanceCheck.scss";
@import "./GoogleCalendar.scss";
