.Calendar-Div {
  width: 100%;
}

.css-1uqnjl3-Calendar {
  // width: 80vw;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  // @media only screen and (max-width: 900px) {
  //   width: 60vw;
  // }
  // @media only screen and (max-width: 749px) {
  //   margin-top: 800px;
  // }
  // @media only screen and (max-width: 300px) {
  //   width: 30vw;
  // }
}

// .show-grid [class*="span"] {
//  color: black !important;
// }
// .css-jc1ljl-MultiEvent {
//   color: black;
// }

// .css-17gfwyw-MultiEvent {
//   color: black;
// }

// .css-13egquf-MultiEvent-MultiEvent {
//   border: 1px solid black;
//   margin-bottom: 1px;
// }

// .css-1y626nq-MultiEvent-MultiEvent-MultiEvent{
//   background-color: chocolate;
//   margin-bottom: 1px;
// }

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calendar-navigate {
  padding: 10px;
  opacity: 0.5;
}

.calendar-navigate:hover {
  cursor: pointer;
  opacity: 0.9;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-title {
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

.calendar-body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, minmax(40px, 1fr));
  grid-template-rows: 50px;
  grid-auto-rows: minmax(120px, auto);
  //color: black;
}

.calendar-footer {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.day {
  text-align: right;
  padding: 14px 0px;
  font-size: 14px;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: lightgray;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 601px) {
  .day {
    padding: 14px 20 px 20 px 0px;
  }
}

.innerDay {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.day:nth-of-type(7n) {
  border-right: none;
}

.day-name {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid;
  border-top: 1px solid;
  line-height: 50px;
  font-weight: 500;
}

.event {
  box-sizing: border-box;
  margin: 3px 0px;
  font-size: 15px;
  height: 26px;
  //border: 1px solid black;
}

.event-text {
  color: black;
}


.below {
  z-index: -1;
}

.details {
  display: flex;
  font-size: 14px;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.display-linebreak {
  white-space: pre-line;
}

// .Calendar-Div-Flex {
//   margin-left: auto;
//   margin-right: auto;
// }
