.Main-Page-Fixed-Bg {
  position: fixed;
  //background-color: rgb(255, 255, 255);
  height: 120px;
  width: 530px;
  margin-top: 46px;
  //border-color: rgb(255, 255, 255);
}

.Filter-Items-Div {
  position: fixed;
  width: 530px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  height: 40px;
  border-radius: 10px;
  margin-top: 65px;
}

.Filter-Items {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Filter-Years {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  width: 150px;
  background-color: #ffffff;
  border-color: #ffffff;
}

.Filter-Departments {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  width: 150px;
  background-color: #ffffff;
  border-color: #ffffff;
}

.Filter-Statuses {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  width: 150px;
  background-color: #ffffff;
  border-color: #ffffff;
}

.Main-Page-Slidebar {
  //object-fit: contain;
  //object-fit: scale-down;
  width: 1000px;
  padding-top: 150px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  //position: fixed;
  @media screen and (max-width: 744px) {
    width: 100vw;
  }
  @media screen and (max-width: 414px) {
    width: 100vw;
  }
  @media screen and (max-width: 300px) {
    width: 100vw;
  }
}

.Main-Page-Calendar {
  //object-fit: contain;
  //object-fit: scale-down;
  width: 1000px;
  //padding-top: 150px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  //position: fixed;
  @media screen and (max-width: 1000px) {
    width: 100vw;
  }
  @media screen and (max-width: 414px) {
    width: 100vw;
  }
  @media screen and (max-width: 300px) {
    width: 100vw;
  }
}

.Main-Page-Slidebar-Img {
  //margin: -100px -0px 0px 0px;
  z-index: -1;
}

.Main-Page-Calendar-Img {
  width: 25px;
}

.Main-Page-Calendar-Btn {
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #000000;
  padding: 5px 15px 5px 15px;
  background-color: #ffffff;
}

.carousel.carousel-slider .control-arrow .control-arrow:hover {
  z-index: -1;
}

.carousel-status {
  visibility: hidden;
}

.div.thumb-wrapper.axis-vertical,
.carousel .thumbs-wrapper {
  visibility: hidden;
  width: 0;
  height: 0;
}

.thumb {
  visibility: hidden;
}

.Main-Page-Card-Div {
  overflow: hidden;
  // width: 100vw;
  // margin-left: 45%;
  //max-width: 550px;
  padding: 10px;
  //margin-top: 200px;
  //position: fixed;
  background-color: rgb(255, 255, 255);
  // border-style: solid;
  // border-color: rgb(0, 0, 0);
  // border-width: 1px;
  // @media screen and (max-width: 744px) {
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}

.Main-Page-Card-Slider {
  overflow: hidden;
}

.Main-Page-Card-Nav {
  position: fixed;
  margin-top: 20px;
  height: 30px;
  width: 530px;
  border-radius: 10px;
  color: $dark-orange;

  //background: #d6d5d5;
}

.Main-Page-Card-Nav-Popular {
  font-size: 25px;
  font-weight: bold;
  padding: 3px 10px;
  height: 30px;
  align-items: center;
  margin-top: 2px;
}

.Main-Page-Card-List {
  //margin-top: 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  padding: 10px;
  @media screen and (max-width: 1079px) {
    grid-template-columns: auto auto auto;
    margin-bottom: 180px;
  }
  @media screen and (max-width: 744px) {
    grid-template-columns: auto auto;
    margin-bottom: 180px;
  }
  @media screen and (max-width: 414px) {
    grid-template-columns: auto auto;
    margin-bottom: 180px;
    margin-top: 5px;
  }
}

.Main-Page-Card {
  max-width: 200px;
  margin-top: 10px;
  // border-style: solid;
  // border-width: 1px;
  // border-color: #111111;
  @media screen and (max-width: 414px) {
    max-width: 170px;
    margin-top: 10px;
  }
}

.Main-Page-Card-Media {
  height: 10px;
}

.Main-Page-Card-Top-Div {
  display: flex;
  flex-direction: row;

  margin-left: 65%;
  align-items: center;
}

.Main-Page-Card-Box {
  width: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Main-Page-Card-Join {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  //background-color: rgb(27, 230, 61);
}

.Main-Page-Card-Join-Text {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  margin-left: 5px;
}

.Main-Page-Card-Favorite {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  justify-items: center;
  //background-color: rgb(216, 19, 58);
  margin-left: 10px;
}

.Main-Page-Card-Favorite-Text {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  margin-left: 5px;
}

.Main-Page-Card-Flex {
  display: flex;
  flex-direction: column;
}

.Main-Page-Card-Left {
  display: flex;
  flex-direction: column;
  max-width: 120px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.Main-Page-Card-Img {
  cursor: pointer;
  width: 100px;
  height: 150px;
  border-radius: 5px;
  @media screen and (max-width: 500px) {
    width: 80px;
  height: 120px;
  }
}

.Main-Page-Card-Status {
  width: 259px;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
}

.Main-Page-Card-Right {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.Main-Page-Card-Icon-Size {
  height: 20px;
  width: 20px;
  // filter: invert(51%) sepia(2%) saturate(221%) hue-rotate(81deg) brightness(99%)
  //   contrast(95%);
  @media screen and (max-width: 414px) {
    height: 15px;
    width: 15px;
  }
}

.Main-Page-Card-Name {
  //margin-top: 20px;
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  @media screen and (max-width: 500px) {
    font-size: 16px;
  }
}

.Main-Page-Card-Date-Time {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Main-Page-Card-Date {
  width: 100%;
  font-family: "Prompt", sans-serif;
  font-size: 14px;
  color: #ed0000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  @media screen and (max-width: 500px) {
    font-size: 12px;
  }
}

.Main-Page-Card-Time {
  //width: 259px;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
}

.Main-Page-Card-Location {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  color: #808080;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  
  @media screen and (max-width: 500px) {
    font-size: 12px;
  }
}

.Main-Page-Card-Members-Close {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Main-Page-Card-Members {
  //width: 259px;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
}

.Main-Page-Card-Close {
  //width: 259px;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
}

.Main-Page-Card-More-Div {
  margin-left: 5%;
}

.Main-Page-Card-More {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  border-width: 0px;
  background-color: $dark-orange;
}
