@font-face {
  font-family: "sans-serif";
  src: url("fonts/prompt-light-webfont.woff") format("woff"),
    url("fonts/prompt-light-webfont.woff2") format("woff2");
}
.Post-Page {
  // background: pink;
  display: flex;
  // justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: auto;
  width: 70%;
  margin-bottom: 200px;
  margin: auto;
  // position: absolute;
  // top: 500px;
  // left: 50%;
  // transform: translate(-50%, -50%);
  @media screen and (max-width: 800px) {
    width: 400px;
  }
  @media screen and (max-width: 414px) {
    width: 300px;
  }
}

.Post-Toggle-Button-Menu {
  // background-color: #ffffff;
  position: relative;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  float: left;
}
hr {
  color: gray;
  background-color: gray;
  size: 2px;
  width: 100%;
  position: flex;
}

#Post-Logo {
  width: 30px;
  height: 30px;
}

.Post-Toggle-Button-Items {
  // width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px;
  padding-top: 10px;
  float: inherit;
}

.Post-Toggle-Button-Items label {
  float: left;
  text-align: center;
  padding: 10px 5px 0px 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Prompt", sans-serif;
  @media screen and (max-width: 800px) {
    font-size: 18px;
  }
  @media screen and (max-width: 414px) {
    font-size: 16px;
  }
}

.Post-poster-container {
  background-color: black;
  // opacity: 0.8;
  // filter: alpha(opacity=80);
  position: relative;
  width: 100%;
  height: 600px;
  @media screen and (max-width: 800px) {
    width: 100%;
    height: 400px;
  }
  @media screen and (max-width: 414px) {
    width: 100%;
    height: 300px;
  }
}
.previewProfilePic {
  // justify-content: center;
  // margin: auto;
  // height: 80%;
  @media screen and (max-width: 800px) {
    height: 80%;
  }
  @media screen and (max-width: 414px) {
    height: 70%;
  }
}

.previewProfilePicCenter {
  width: 100%;
}

.post_image {
  max-width: 600px;
  height: 450px;
  // object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  background-color: black;
  @media screen and (max-width: 1240px) {
    max-width: 480px;
  }
  @media screen and (max-width: 1000px) {
    max-width: 400px;
    height: 400px;
    margin-top: 20px;
  }
  @media screen and (max-width: 800px) {
    max-width: 300px;
    height: 300px;
    margin-top: 20px;
  }
  @media screen and (max-width: 414px) {
    max-width: 200px;
    height: 200px;
    margin-top: 20px;
  }
  // background-color: #d0d0d0;
}

.Post-Input-Container {
  width: 100%;
  margin-top: 5%;
  z-index: 0;
}

// .Post-Input h4 {
//     font-size: 20px;
//     margin-left: 10%;
//     font-family: "Prompt",sans-serif;
// }
.Post-Input h2 {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Prompt", sans-serif;
  margin-top: 10px;
  @media screen and (max-width: 1200px) {
    margin-left: 10px;
  }
  @media screen and (max-width: 800px) {
    font-size: 15px;
  }
  @media screen and (max-width: 414px) {
    font-size: 13px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.Post-Input-Fill-Data {
  font-family: "Prompt", sans-serif;
  font-size: 16px;
  // margin-top: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 5px;
  // height: 50px;
  // width: 200px;
  z-index: 1;
  @media screen and (max-width: 800px) {
    font-size: 14px;
  }
  @media screen and (max-width: 414px) {
    font-size: 12px;
  }
}

.Post-Input-Small-Fill-Data {
  height: 45px;
  width: 200px;
  @media screen and (max-width: 1200px) {
    width: 150px;
  }
  @media screen and (max-width: 800px) {
    width: 110px;
  }
  @media screen and (max-width: 414px) {
    width: 110px;
    height: 30px;
  }
}
.Post-Input-Medium-Fill-Data {
  height: 45px;
  width: 100%;
  @media screen and (max-width: 414px) {
    height: 30px;
  }
}
// .Post-margin-top {
//   margin-top: 1%;
// }
.Post-Input-Large-Fill-Data {
  height: 300px;
  width: 100%;
  @media screen and (max-width: 414px) {
    height: 200px;
  }
}

.margin-left10 {
  margin-left: 10px;
}

// .post_header {
//     height: 70px;
//     background: #f77f00;
//     margin-bottom: 20px;
// }
// .post_header h3 {
//     padding-top: 10px;
//     margin-left: 30px;
//     font-size: 30px;
// }

.Post-Column {
  float: left;
  width: 30%;
  padding: 10px;
  @media screen and (max-width: 800px) {
    width: 25%;
    padding: 0px;
  }
  @media screen and (max-width: 414px) {
    width: 20%;
  }
}
.Post-Column2 {
  float: left;
  width: 70%;
  padding: 10px;
}
.Post-Column3 {
  float: left;
  width: 70%;
  padding: 10px 10px 10px 10px;
  margin-top: 200px;
  @media screen and (max-height: 1370px) {
    margin-top: 30%;
  }
  @media screen and (max-height: 1160px) {
    margin-top: 400px;
  }
  @media screen and (max-height: 1110px) {
    margin-top: 600px;
  }
  @media screen and (max-height: 900px) {
    margin-top: 800px;
  }
  @media screen and (max-height: 790px) {
    margin-top: 1000px;
  }
  // @media screen and (max-width: 1429px) {
  //     padding: 10px 10px 10px 100px;
  // }
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

// .column1 {
//     float: left;
//     width: 30%;
//     padding: 20px;
// }

.Post-Flex-Row {
  display: flex;
  flex-direction: row;
  float: left;
}

.Post-Calendar-Time {
  // margin-right: 10px;
  font-size: 20px;
  font-family: "Prompt", sans-serif;
  @media screen and (max-width: 800px) {
    font-size: 16px;
  }
  @media screen and (max-width: 414px) {
    font-size: 13px;
  }
}

// .Post-Time {
//   width: 200px;
// }

.Post-Submit-Button {
  width: 150px;
  height: 50px;
  // height: 120%;
  background: #f38621 !important;
  color: white !important;
  border-radius: 25px;
  border: 1px solid #f38621;
  font-size: 20px;
  float: right;
  margin-bottom: 200px;
  margin-right: 150px;
  font-family: "Prompt", sans-serif;
  @media screen and (max-width: 800px) {
    width: 100px;
    height: 50px;
    font-size: 18px;
    margin-right: 10px;
  }
  @media screen and (max-width: 414px) {
    width: 80px;
    height: 35px;
    font-size: 14px;
    margin-right: 30px;
  }
}

.Post-Unsubmit-Button {
  width: 150px;
  height: 50px;
  background: rgb(207, 40, 40) !important;
  color: white !important;
  border-radius: 25px;
  border: 1px solid rgb(207, 40, 40);
  font-size: 20px;
  float: right;
  margin-bottom: 200px;
  margin-left: 20px;
  font-family: "Prompt", sans-serif;
  @media screen and (max-width: 800px) {
    width: 100px;
    height: 50px;
    font-size: 18px;
    margin-left: 15px;
  }
  @media screen and (max-width: 414px) {
    width: 80px;
    height: 35px;
    font-size: 14px;
    margin-left: 10px;
  }
}

.Post-Submit-Button-For-Edit {
  width: 150px;
  height: 50px;
  // height: 120%;
  background: #f38621 !important;
  color: white !important;
  border-radius: 25px;
  border: 1px solid #f38621;
  font-size: 20px;
  float: right;
  margin-bottom: 200px;
  margin-right: 50px;
  font-family: "Prompt", sans-serif;
  @media screen and (max-width: 800px) {
    width: 100px;
    height: 50px;
    font-size: 18px;
    margin-right: 20px;
  }
  @media screen and (max-width: 414px) {
    width: 80px;
    height: 35px;
    font-size: 14px;
    margin-right: 10px;
  }
}

.Post-Left-Button {
  position: relative;
}

.Post-Right-Button {
  // position: relative;
  height: 50px;
}
.Post-Submit-Button:focus {
  box-shadow: 0 4px 2px -2px gray !important;
  outline: 2px !important;
}

.Post-choseimage {
  margin-left: 10%;
  margin-top: 30px;
  font-family: "Prompt", sans-serif;
  font-size: 16px;
  @media screen and (max-width: 800px) {
    font-size: 14px;
  }
  @media screen and (max-width: 414px) {
    font-size: 12px;
  }
}

.Post-White-Text {
  color: white;
  margin-left: 35%;
  @media screen and (max-width: 800px) {
    margin-left: 25%;
    font-size: 14px;
  }
  @media screen and (max-width: 414px) {
    margin-left: 15%;
    font-size: 12px;
  }
}
// #profile-pic {
//     float: left;
//     margin-right: 20px;
//     /* If you want to crop the image to a certain size, use something like this */
//     object-fit: cover;
//     width: 100px;
//     height: 100px;
// }

// .one {
//     width: 350px;
// }
// h4 {
//     margin: 0 10px;
// }
// h3 {
//     margin: auto 30px;
// }
