// .Profile-Toggle-Div {
//   margin-left: 40%;
// }

.Profile-Toggle-Button-Menu {
  background-color: #ffffff;
  margin-top: 86px;
  width: 100%;
  //height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  transition: 350ms;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  @media screen and (max-width: 800px) {
    margin-top: 80px;
  }
}

.Profile-Toggle-Button-Items {
  width: 100%;
  display: flex;
  //height: 60px;
  justify-content: center;
  padding-top: 5px;
  padding-left: 0px;
  @media screen and (max-width: 769px) {
    height: 60px;
  }
  @media screen and (max-width: 500px) {
    height: 50px;
  }
}

.Profile-Toggle-Button-List {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Profile-Toggle-Button-Items-Flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 769px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 375px) {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.Profile-Toggle-Button-Items label {
  cursor: pointer;
  float: left;
  //color: black;
  text-align: center;
  //padding: 10px 15px 15px 15px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: bold;
  @media screen and (max-width: 627px) {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 18px;
    font-weight: bold;
  }
  @media screen and (max-width: 591px) {
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-weight: bold;
  }
  @media screen and (max-width: 499px) {
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    font-weight: bold;
  }
  @media screen and (max-width: 413px) {
    margin-left: auto;
    margin-right: auto;
    font-size: 8px;
    font-weight: bold;
  }
}

.Profile-Toggle-Button-Items label:hover {
  //background-color: #ffaa0b;
  //color: black;
  border-radius: 10px;
  transition: all 0.2s ease-out;
  height: 40px;
}

.Profile-Toggle-Button-MyProfile {
  //background-color: #ffaa0b;
  color: black;
  border-radius: 10px;
  height: 40px;
}

.Profile-Toggle-Button-MyPost {
  //background-color: #ffaa0b;
  color: black;
  border-radius: 10px;
  height: 40px;
}

.Profile-Toggle-Button-Favorite {
  //background-color: #ffaa0b;
  color: black;
  border-radius: 10px;
  height: 40px;
}

.Profile-Toggle-Button-History {
  //background-color: #ffaa0b;
  color: black;
  border-radius: 10px;
  height: 40px;
}

.Profile-Toggle-Button-Trans {
  color: rgb(117, 117, 117);
  border-radius: 10px;
  height: 40px;
}

.Profile-Toggle-Button-Profile-Img {
  //margin-left: 15px;
  margin-right: 5px;
  width: 30px;
  @media screen and (max-width: 732px) {
    width: 20px;
    margin-right: 0px;
  }
}
.Profile-Toggle-Button-History-Img {
  margin-right: 5px;
  width: 30px;
  @media screen and (max-width: 732px) {
    width: 20px;
    margin-right: 0px;
  }
}
.Profile-Toggle-Button-Favorite-Img {
  margin-right: 5px;
  width: 30px;
  @media screen and (max-width: 732px) {
    width: 20px;
    margin-right: 0px;
  }
}
.Profile-Toggle-Button-Mypost-Img {
  margin-right: 5px;
  width: 30px;
  @media screen and (max-width: 732px) {
    width: 20px;
    margin-right: 0px;
  }
}
.Profile-Toggle-Button-Img-Trans {
  margin-right: 5px;
  width: 30px;
  filter: grayscale(100%);
  @media screen and (max-width: 732px) {
    width: 20px;
    margin-right: 0px;
  }
}

.Profile-Toggle-List {
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}

.Profile-Toggle-Nav {
  //position: fixed;
  margin-top: 20px;
  height: 30px;
  //width: 530px;
  border-radius: 10px;
  color: $dark-orange;

  //background: #d6d5d5;
}

.Profile-Toggle-Nav-Mypost {
  font-size: 25px;
  font-weight: bold;
  padding: 3px 10px;
  height: 30px;
  align-items: center;
  margin-top: 2px;
}

.Profile-Toggle-Nav-Favorite {
  font-size: 25px;
  font-weight: bold;
  padding: 3px 10px;
  height: 30px;
  align-items: center;
  margin-top: 2px;
}

.Profile-Toggle-Nav-History {
  font-size: 25px;
  font-weight: bold;
  padding: 3px 10px;
  height: 30px;
  align-items: center;
  margin-top: 2px;
}
