.register_user_card {
    height: 700px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 50px;
    background:white;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    @media screen and (max-width: 800px) {
        height: auto;
        width: 350px;
        margin-top: 100px;
    }
    @media screen and (max-width: 414px) {
        height: auto;
        width: 250px;
        margin-top: 100px;
    }
}
.register_form-group{
    margin-left: 20%;
}

.register_form_container {
    margin-top: 10px;
    padding-bottom: 10px;
}
.register_header {
    height: 45px;
    background: #f77f00;
    text-align: center;
    margin-bottom: 30px;
    @media screen and (max-width: 800px) {
        height: 35px;
        margin-bottom: 20px;
    }
    @media screen and (max-width: 414px) {
        height: 30px;
        margin-bottom: 20px;
    }
}
.register_header h3{
    padding-top: 10px;
    font-size: 22px;
    @media screen and (max-width: 800px) {
        padding-top: 5px;
        font-size: 18px;
    }
    @media screen and (max-width: 414px) {
        padding-top: 5px;
        font-size: 15px;
    }
}

.register_btn {
    width: 30%;
    height: 50px;
    background: #f77f00!important;
    color:black !important;
    font-weight: bold;
    font-size: 18px;
    border-radius: 25px ;
    border: 1px solid #f77f00;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
    @media screen and (max-width: 800px) {
        width: 30%;
        height: 40px;
        font-size: 15px;
        margin-left: 70px;
    }
    @media screen and (max-width: 414px) {
        width: 70px;
        height: 35px;
        font-size: 12px;
        margin-left: 50px;
    }
}

.register_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.register_input {
    margin-bottom: 20px;
    margin-right: 60px;
    float: right;
    @media screen and (max-width: 800px) {
        font-size: 13px;
        margin-right: 25px;
    }
    @media screen and (max-width: 414px) {
        font-size: 10px;
        margin-right: 20px;
    }
}
.register_links{
    // margin-top: 5px;
    margin-left: 50px;
    @media screen and (max-width: 800px) {
        font-size: 15px;
        margin-left: 15px;
    }
    @media screen and (max-width: 414px) {
        font-size: 11px;
        margin-left: 12px;
        
    }
}
.register_input_size{
    height: 40px;
    width: 250px;
    margin-left: 10px;
    //padding: 10px 20px;
    display: inline;
}

.register_input_data{
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    height: 40px;
    width: 250px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    // padding: 5px 10px;
    @media screen and (max-width: 800px) {
        width: 200px;
        height: 30px;
        font-size: 12px;
    }
    @media screen and (max-width: 414px) {
        width: 120px;
        height: 25px;
        font-size: 10px;
    }
}
.register_input_data:focus {
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: none !important;
    outline: 0px !important;
}
.register_login{
    color: $dark-orange !important; 
}
.flex1 {
    display: flex;
    flex-direction: row;
    float: right;
}
.flex2{
  flex-direction: column;
  display: flex;
  margin-right: 5px;
}
  
