.Report-View-Card-Fixed-Bg {
  position: fixed;
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 100%;
  margin-top: 80px;
  //border-color: rgb(255, 255, 255);
}

.Report-View-Card-Nav-Activity {
  color: black;
  font-size: 22px;
  font-weight: bold;
  //padding: 3px 10px;
  height: 30px;
  align-items: center;
  margin: 2px;
}

.Report-View-Card-Title-Img {
  width: 30px;
  margin: 5px;
}

.thumb {
  visibility: hidden;
}

.Report-View-Card-Div {
  overflow: hidden;
  //margin-left: 35%;
  //max-width: 550px;
  //padding: 10px;
  //margin-top: 200px;
  //position: fixed;
  background-color: rgb(255, 255, 255);
  // border-style: solid;
  // border-color: rgb(0, 0, 0);
  // border-width: 1px;
}

.Report-View-Card-Slider {
  overflow: hidden;
}

.Report-View-Card-Nav {
  height: 40px;
  display: flex;
  //justify-content: space-around;
  align-items: center;
  max-width: 545px;
  color: #2c90af;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  //background: #d6d5d5;
}

.Report-View-Card-Nav-Popular {
  font-size: 25px;
  font-weight: bold;
  padding: 3px 10px;
  height: 30px;
  align-items: center;
  margin-top: 2px;
}

.Report-View-Card-List {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-left: 30%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.Report-View-Card-List-Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 2px;
  margin-bottom: 10px;
  padding: 10px;
}

.Report-View-Card-List-Text-Title {
  font-size: 18px;
  font-weight: bold;
}

.Report-View-Card-Nav-Img {
  width: 30px;
  margin: 5px;
}
